body {
  margin: 0;
  padding: 0;
  font-family: Inter;
  overflow-x: hidden;
}
/* Body text uses Manrope */
body, p, span, div, input, textarea, button {
  font-family: 'Manrope', sans-serif ;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
.no-scroll {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
  touch-action: none;
}
@font-face {
  font-family: 'MonumentExtended';
  src: url('/fonts/monument-extended_regular-3-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Apply this font to all heading tags */
h1, h2, h3, h4, h5, h6 {
  font-family: 'MonumentExtended', sans-serif;
}

